<div class="columns">

  <app-sidebar>

  </app-sidebar>

  <div class="column is-offset-one-fifth my-5 pl-5">

    <h1 class="title">
      Event Notifications
    </h1>

    <div class="card">

      <div class="card-holder" *ngFor='let announcement of announcementList'>

        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              <strong>{{ announcement.title }}</strong>
            </p>
          </header>
          <div class="card-content">

            <small>{{ announcement.date | slice:0:10 }}</small>
            <div class="content" [innerHTML]="announcement.description">

            </div>
          </div>
        </div>

        <br>

      </div>

    </div>

  </div>

</div>
