.custom-item {
  font-size: 2rem;
  background-color: #FCFCFC;
  color: #363636;
  transition: all .2s ease-in-out;

  &:hover {
    letter-spacing: 1px;
    background-color: #E7E7E7;
  }
}

.custom-tag {
  display: block !important;
  white-space: normal !important;
}
